<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/headers::header(title=${'Archived Documents'})"></head>
	<body>
	 	<div id="MainContainer">	
	 		<div th:include="fragments/fragments::navHeading"></div>
			<div id="subContainer">
				<div id="TopicsContainer">
		 			<div th:replace="fragments/fragments::topics(${topicList})"></div>
		 		</div>
		 		<div id="topicDisplayContainer">
		 			<h4>Archived Topics</h4>
		 		</div>
			</div>
	 	</div>
	 	<script type="text/javascript">
	 	
	 	Utils.ajax = (URLBASE+"/archivedDocumentsManagement", {}, ()={});
	 	
	 	</script>
	</body>
	
</html>